:root {
  font-size: 100%;
  --main-color: #ffff;
}

#containerPrincipalWiki {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/assets/Wikipedia.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 380px;
  height: 880px;
  border-radius: 35px;
}
