:root {
  font-size: 100%;
  --main-color: #ffff;
}

#appliMeteo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/assets/marseille/ensoleillement\ 1.svg);
  width: 24.375rem;
  height: 52.75rem;
  border-radius: 2.1875rem;
}

#recherches {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
#affichageSup {
  background: url(/assets/marseille/Marseille.png);
  width: 21.9375rem;
  height: 17.9375rem;
}

#affichageMedian {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: url(/assets/marseille/minmax.png);
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-size: contain; */
  width: 351px;
  height: auto;

  align-items: center;
}

#affichageInf {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  background: url(/assets/marseille/inferieur.png);
  background-repeat: no-repeat;
  /* background-size: contain; */
  width: 350px;
  height: 248px;
  text-align: center;
  vertical-align: middle;

  color: #fff;

  font-size: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#ville {
  font-family: poppins;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 0;
  margin-top: 32px;
  margin-bottom: 8px;
}
#pays {
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--main-color);

  margin-top: 18px;
  margin-bottom: 8px;
}

#dateJJHH {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--main-color);
  margin-top: 4px;
  margin-bottom: 4px;
}

.meteo_icone {
  background-image: var(--icon_pluie);
  width: 131px;
  height: 131px;
}
.search {
  max-width: 175px;
  align-items: end;
  margin: 8px 15px 4px 20px;
}
#maison {
  margin-top: 9px;

  margin-left: 4px;
  margin-right: 75px;
  vertical-align: middle;
}

#gd_MeteoIcone {
  margin: 18px auto;
  text-align: center;
}

#gd_MeteoIcone > span {
  color: #fff;
  font-size: 6rem;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.25rem;
}

#temp_Min,
#temp_Max {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-family: Poppins;
  line-height: 1.25rem;
  text-transform: capitalize;
}
#wikiAdisor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url(/assets/marseille/fondTripWiki.png);
  background-repeat: no-repeat;
  width: 351px;
  height: 422px;
  margin: 15px;
}

#random::before {
  background-image: url(/assets/meteo/chevron_gauche.png);
  width: 121px;
  height: 34px;
}
#random::after {
  background-image: url(/assets/meteo/chevrons-droit.png);
  width: 121px;
  height: 34px;
}
