:root {
  font-size: 100%;
  --main-color: #fffff;
}

#appli_meteo {
  background-image: url(/assets/marseille/ensoleillement\ 1.svg);
  width: 23.75rem;
  height: 52.75rem;
  border-radius: 2.1875rem;
}
